[submodule "themes/FixIt"]
	path = themes/FixIt
	url = https://github.com/hugo-fixit/FixIt.git
[submodule "themes/hugo-cite"]
	path = themes/hugo-cite
	url = https://github.com/loup-brun/hugo-cite.git
